.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4em 8em;
  row-gap: 2em;
  border: 1px solid red;
}

button{
  padding: 0.6rem 1rem;
}